*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F7F0E9;
    font-family: 'Poppins',sans-serif;
  }
  
 main {
   flex: 1 0 auto;
}
/*Estilos del footer*/
/*Estilo del footer en general*/
.page-footer{
    background-color: #FF9E86;
    padding-bottom: 0%;
    padding-top: 1%;
    color: black;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid black;
    padding-bottom: 0;
}

/*Estilos del las redes sociales*/
#facebook-container{
    padding: 0;
    position: relative;
    right: 5px;
}

#facebook{
    margin: 0;
    padding-top: 5px;
    background-color: black;
    border-radius: 5px;
    width: 47px;
}

#whatsapp-container{
    padding: 0;
    margin: 0;
    position: relative;
    right: 20px;
}

#whatsapp{
    padding-top: 2px;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    width: 45px;
    height: 42px;
}

#whatsappcopied{
    background:0;
    border: 0;
    outline: none;
}

#instagram-container{
    padding: 0;
    margin: 0;
    position: relative;
    right: 40px;
}

#instagram{
    align-items: center;
    padding-top: 5px;
    background-color: black;
    border-radius: 5px;
    width: 45px;
    height: 42px;
    }
/*Estilo de los links*/
#preguntasfrec{
    color: black;
    align-items: center;
}
#terminos-footer{
    color: black;
}

/*Estilo del copyrigth*/
#Anexo{
    padding-top: 0%;
    margin: 0%;
}
#copyrigth{
    padding-top: 1.5px;
}

/*Estilos de los tooltipped*/
.tooltip{
    font-weight: normal;
    color: gray;
    position: relative;
}
  
.tooltip-box{
    display: none;
    position: absolute;
    background-color: #DF5333;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 9px 10px;
    border-radius: 5px;
    left: 0;
    bottom: 50px;
}
  
.tooltip:hover .tooltip-box{
    display: inline-block;
}
  
.tooltip-box::after{
    content: "";
    display: block;
    border-top: 20px solid #DF5333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -7px;
}

#copywhat{
    display: none;
}
  /*Fin de estilos del footer*/
/*Inicio de estilos de la confirmación de compra*/
/*Estilos la para información de envio*/
/*Estilo del banner o Titulo de la página*/
#banner-confirmacion{
    font-family: 'Pt Serif',serif;
    background-color: #F48080;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: -10px -5px  black;
}
/*Estilos para la columa de la información para el envio*/
#columna-info{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145.17deg, rgba(235, 158, 158, 0.54) 36.74%, rgba(235, 158, 158, 0.703125) 43.97%, rgba(235, 158, 158, 0.22) 61.08%);
    border: 1px solid gray;
}
/*Estilo para los inputs*/
/*Estilo del input del correo del usuario*/
#correo{
    box-shadow: inset 515px 5px white;
    margin-bottom: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo del input del nombre el usuario*/
#nombre_usuario{
    box-shadow: inset 515px 5px white;
    margin-top: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo del Input del apellido del usuario*/
#apellido_usuario{
    box-shadow: inset 515px 5px white;
    margin-top: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo de la direccion de usuario*/
#direccion_usuario{
    background-color: white;
    height: 50px;
    color: #807B7B;
    resize: none;
    font-family: 'Poppins', sans-serif;
}
/*Estiro del Punto de referencia respecto a la direccion del usuairo*/
#preferencia_usuario{
    background-color: white;
    font-family: 'Poppins',sans-serif;
}
/*Estilo para diseñar un SELECT personalizado*/
  /*Contenedor del select*/
.selectbox{
    width: 100%;
    margin: auto;
    position: relative;
}
/*Caja del select*/
.select{
    color: black;
    font-family: 'Poppins',sans-serif;
    height: 43px;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
}
/*Estilos para cuando este activo o se le esta apuntando con el mouse*/
.select.active,
.select:hover{
box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);  
border: 2px solid #DF5333;
}
/*Decoración de una flecha debajo del select*/
.select.active:before{
    content: "";
    display: flex;
    height: 0;
    width: 0;
    border-top: 15px solid #DF5333;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}
/*Estilo del icono del seletc*/
.icono-select{
    margin-right: 5px;
}
/*Estilo del texto del select*/
.titulo{
    font-weight: bold;
}
/*Estilo de las opciones del select*/
/*Estilo del texto*/
.opcion-select{
    color: black;
}
/*Estilo del contenedor de las opciones*/
.opciones-select{
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 200px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
}
/*Estilo para cuando las opciones esten activas*/
.opciones-select.active{
    display: block;
}
/*Estilo del contenedor de las opciones*/
.contenido-opcion{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    transition: .2s ease all;
    padding: 5px;
}
/*Estilo de la imagen de la opcion*/
.contenido-opcion img{
    position: relative;
    left: 25%;
}
/*Estilo del texto del contenedor*/
.contenido-opcion p{
    position: relative;
    left: 145%;
}
/*Estilo de las opciones cuando este el mouse por */
.opciones-select .contenido-opcion:hover{
    background: #F48080;
}
/*Inicio Estilos para el apartado de la Orden*/
/*Estilo del contenedor del apartado de la orden*/
#apartado-orden{
    margin-top: 25px;
}
/*Estilo del apartado de la orden*/
#parte-orden{
    border: 2px solid grey;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/*Estilo del titulo*/
#titulo-orden{
    padding: 0;
    background-color: #DF5333;
    margin: 0;
}
/*Estilo de las compras*/
#contenedor-compras{
    height: 200px;
    background-color: white;
    overflow: auto;
    border-bottom: 2px solid gray;
    margin-bottom: 0;
    margin-top: 0;
}
/*Estilo de los elementos de las compras*/
.compra{
    padding: 0;
    margin: 10px;
}
/*Estilo de los totales*/
#totales-orden{
    background-color: white;
    color: #5E5959;
}
/*Estilo del boton pagar*/
#pagar_btn{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 50px 35px 50px;
    font-weight: bold;
    margin-top: 15px;
}
/*Estilos del modal de confirmación de compra*/
.modal{
    font-family: 'Poppins', sans-serif;
}
#confirmar-compra_modal{
    margin-top: 7%;
    border-radius: 10px;
    background: linear-gradient(121.84deg, #FF8686 30.85%, #D5CA68 101.86%);  
    width: 350px;
    font-family: 'Poppins', sans-serif;
}
  
#decoracion-modal{
    border: 1px solid black;
    margin-top: 13px;
    background-color: black;
}
.fondo-modaldatos{
    margin: 10px;
    background-color: #F7F0E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
}
  
#fondomodal-footer{
    background-color: #F7F0E9;
    font-family: 'Poppins', sans-serif;
}
  
#aceptarcompra_boton{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    margin-bottom: 7px;
    padding: 0 25px 35px 25px;
    margin-top: 15px;
}
  
#confirmarcompra_preloader{
    position: relative;
    left: 100px;
    margin: 20px;
    display: none;
}

#cancelacompra_boton{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    margin-bottom: 4px;
    padding: 0 25px 35px 25px;
}
/*Diseño del carrtio*/
/*Estilo de los side nav general*/
#carrito{
    font-family: 'Poppins',sans-serif;
    width: 400px;
    margin: 0;
    padding: 0;
}
/*Titulo del carrito*/
#titulo-carrito{
    position: absolute;
    left: 40%;
    top: 20px;
    font-family: 'Pt Serif',serif;
}
/*Icono del titulo del carrito*/
#carrito-icon{
    position: absolute;
    top: 40px;
    left: 24%;
}
/*Edicion del backgroun del header del carrito*/
.background{
    margin-bottom: 0;
    padding: 0;
    height: 114px;
}
/*Edicion de la parte de la informacion del carrito*/
/*Edicion general del contenedor de la informacion del carrito*/
#parte-infocarrito{
    height: 65%;
    background-color: #F7F0E9;
    margin-top: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}
/*Estilos del boton de eliminar del carrito*/
/*Estilo del contenedor*/
.elimardel-carrito{
    margin: 0;
    padding: 0;
    height: 5px;
}
/*Estilo de la imagen o icono*/
.elimardel-carrito img{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 98%;
    margin: 0;
    padding: 0;
}
/*Edición del fondo del contenido de la compra en el carrito*/
#fondocompra-carrito1{
    background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
    border: 2px solid black;
    margin-top: 25px;
}
#fila-contenidocarrito{
    margin: 0;
    padding: 0;
}
#imagencontenido-carrito{
    padding-top: 20px;
    margin: 0;
}
#nombreAmigurumi_carrito{
    padding: 25px 0 0 0;
    margin: 0px;
}
#coldetalle-carrito{
    margin: 0;
    padding: 0;
    height: 25px;
}
#columanprueba{
    padding: 0;
    margin: 0;
}
/*Edicion del footer del carrito*/
#footer-carrito{
    background-color: #DF5333;
    font-family: 'Poppins',sans-serif;
    overflow: auto;
}
/*Edicion de la seccion total a pagar del carrito*/
#total-carrito{
    margin: 0;
    padding: 0;
}
/*Edicion de los botones del carrito*/
#comprar_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 35px 35px 35px;
}
/*Edicion del boton del carrito de seguir viendo*/
#seguirv_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 25px 35px 25px;
}
/*Telefonos*/
@media (max-width:600px){
    #facebook-container{
        position: relative;
        right: 20px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 17px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        width: 325px;
    }
    /*Edicion del backgroun del header del carrito*/
    .background{
        height: 93px;
    }
    /*Edicion de la parte de la informacion del carrito*/
    #parte-infocarrito{
        height: 60%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    }  
    /*Estilo de los carritos*/
    #comprar_carrito{
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: black;
        border-top: 6px solid black;
        border-left: 5px solid black;
        padding: 0 25px 35px 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 96%;
        margin: 0;
        padding: 0;
    }
}
/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {
    #facebook-container{
        position: relative;
        right: 26px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 5px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 12px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        overflow: scroll;
    }
    /*Edicion del footer del carrito*/
    #footer-carrito{
        overflow: auto;
        margin: 0;
        padding: 0;
    }
    /*Edicion de los botones del carrito*/
    #comprar_carrito{
        margin-bottom: 25px;
    }
    /*Edicion del boton del carrito de seguir viendo*/
    #seguirv_carrito{
        margin-bottom: 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 98%;
        margin: 0;
        padding: 0;
    }
    #parte-infocarrito{
        height: 62%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    } 
    .background{
        margin-bottom: 0;
        padding: 0;
        height: 109px;
    }
}