.carousel-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100vw !important;
}

.line {
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 20px;
}