:root {
  --primary-color: #df5333;
  --second-color: #f48080;
  --third-color: #ff5b5b;
  --fourth-color: #ffb2b2;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.second-bg-color {
  background-color: var(--secondary-color);
}

.second-text-color {
  color: var(--secondary-color);
}

.third-bg-color {
  background-color: var(--third-color);
}

.third-text-color {
  color: var(--third-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f7f0e9;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  display: block;
  background-color: #ff9e86;
  padding-bottom: 0%;
  padding-top: 1%;
  color: black;
  font-family: "Popins", sans-serif;
  border-top: 2px solid black;
}

#facebook {
  padding-top: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 47px;
  position: relative;
  left: 150px;
}

#whatsapp {
  align-items: center;
  padding-top: 2px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
  position: relative;
  left: 150px;
}

#copywhat {
  display: none;
}

#whatsappcopied {
  background: 0;
  border: 0;
  outline: none;
}

#instagram {
  align-items: center;
  padding-top: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
  position: relative;
  left: 150px;
}

#preguntasfrec {
  color: black;
  align-items: center;
}
#terminos-footer {
  color: black;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#Anexo {
  padding-top: 0%;
  margin: 0%;
}
#copyrigth {
  padding-top: 1.5px;
}

.tooltip {
  font-weight: normal;
  color: gray;
  position: relative;
}

.tooltip-box {
  display: none;
  position: absolute;
  background-color: #df5333;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 9px 10px;
  border-radius: 5px;
  left: 0;
  bottom: 50px;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-top: 20px solid #df5333;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -7px;
}

/* navbar */

.logo-navbar {
  width: 40%;
  height: 40%;
  margin: 5px 0 0 0;
}

/* skewed section */

.skewed-box {
  background-color: var(--third-color);
  padding: 100px 0;
  transform: skew(0deg, -10deg);
}


.card .card-image{
  margin: 10px;
}

.card .card-image .card-title{
  margin-top: 10px;
}

.card .card-content p{
  font-family: "Popins", sans-serif;
}

.navbar-fixed .boton{
  background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
  border-radius: 17.5px;
  color: #000;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}



.boton img{
  padding: 2px;
  margin: 3px 0 0 0;
  width: 90%;
  height: 80%;
}

.card{
  border: solid;
}