@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.5;
  background: #f7f0e9;
}

.card-wrapper {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
  margin-left: 10px;
}

.product-price .new-price {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.product-detail p {
  max-width: 320px;
  text-align: justify;
}

.product-detail .desc {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 2rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(../resources/Info-Producto/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-carrito {
  display: flex;
  justify-content: center;
}

.btn-carrito p {
  margin-left: 5px;
  text-transform: initial;
}

.purchase-info .btn-carrito img {
  margin-top: 4px;
  width: 25px;
  height: 25px;
}

.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  /* padding: 0.45rem 0.8rem; */
  outline: 0;
  margin-right: 0.2rem;
  /* margin-bottom: 1rem; */
}

.purchase-info input {
  width: 60px;
}

.product-rating span {
  margin-left: 15px;
}

.product-rating .rating {
  margin-left: 8px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #000;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: linear-gradient(90deg,
      rgba(223, 83, 51, 0.7) 50%,
      rgba(255, 158, 134, 0) 102.37%);
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

.product-rating {
  display: flex;
  justify-content: left;
  align-items: center;
}

.product-rating img {
  width: 25px;
  height: 25px;
}

.line {
  border-bottom: 2px solid rgb(100, 100, 100);
  width: 68%;
  margin: 10px 0 10px 0;
}

.line-1 {
  border-bottom: 2px solid rgb(100, 100, 100);
  width: 80%;
  margin: auto;
}

.line-2 {
  border-bottom: 2px solid rgb(100, 100, 100);
  width: 25%;

}

.animate-text {
  margin: auto;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 13%;
  min-height: 60px;
  -webkit-box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  background: #f48080;
}

.photo-user img {
  width: 30px;
  height: 30px;
}

.user {
  margin: 10px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.user .name-user {
  margin-left: 10px;
}

.user-rating {
  margin-left: 30px;
}

.comment {
  margin-top: 18px;
  font-size: 18px;

}

.title-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-comment p {
  margin-top: 20px;
}

.opinion {
  margin-top: 80px;
  width: 50vw;
}

.primera {
  margin-top: 30px;
  width: 50vw;
}

.photo-user {
  width: 64px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e89a9a;
  border-radius: 58%;
}

.animate-text p {
  font-size: 1.5rem;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .card-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: 0;
  }
}
 /*Diseño del carrtio*/
/*Estilo de los side nav general*/
#carrito{
    font-family: 'Poppins',sans-serif;
    width: 400px;
    margin: 0;
    padding: 0;
  }
  /*Titulo del carrito*/
  #titulo-carrito{
    position: absolute;
    left: 40%;
    top: 20px;
    font-family: 'Pt Serif',serif;
  }
  /*Icono del titulo del carrito*/
  #carrito-icon{
    position: absolute;
    top: 40px;
    left: 24%;
  }
  /*Edicion del backgroun del header del carrito*/
  .background{
    margin-bottom: 0;
    padding: 0;
    height: 114px;
  }
  /*Edicion de la parte de la informacion del carrito*/
  /*Edicion general del contenedor de la informacion del carrito*/
  #parte-infocarrito{
    height: 65%;
    background-color: #F7F0E9;
    margin-top: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
  }
  /*Estilos del boton de eliminar del carrito*/
  /*Estilo del contenedor*/
  .elimardel-carrito{
    margin: 0;
    padding: 0;
    height: 5px;
  }
  /*Estilo de la imagen o icono*/
  .elimardel-carrito img{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 98%;
    margin: 0;
    padding: 0;
  }
  /*Edición del fondo del contenido de la compra en el carrito*/
  #fondocompra-carrito1{
    background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
    border: 2px solid black;
    margin-top: 25px;
  }
  #fila-contenidocarrito{
    margin: 0;
    padding: 0;
  }
  #imagencontenido-carrito{
    padding-top: 20px;
    margin: 0;
  }
  #nombreAmigurumi_carrito{
    padding: 25px 0 0 0;
    margin: 0px;
  }
  #coldetalle-carrito{
    margin: 0;
    padding: 0;
    height: 25px;
  }
  #columanprueba{
    padding: 0;
    margin: 0;
  }
  /*Edicion del footer del carrito*/
  #footer-carrito{
    background-color: #DF5333;
    font-family: 'Poppins',sans-serif;
    overflow: auto;
  }
  /*Edicion de la seccion total a pagar del carrito*/
  #total-carrito{
    margin: 0;
    padding: 0;
  }
  /*Edicion de los botones del carrito*/
  #comprar_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 35px 35px 35px;
  }
  /*Edicion del boton del carrito de seguir viendo*/
  #seguirv_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 25px 35px 25px;
  }
  /*Final de los estilos del carrito*/
/*Telefonos*/
@media (max-width:600px){
    #facebook-container{
        position: relative;
        right: 20px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 17px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        width: 325px;
    }
    /*Edicion del backgroun del header del carrito*/
    .background{
        height: 93px;
    }
    /*Edicion de la parte de la informacion del carrito*/
    #parte-infocarrito{
        height: 60%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    }  
    /*Estilo de los carritos*/
    #comprar_carrito{
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: black;
        border-top: 6px solid black;
        border-left: 5px solid black;
        padding: 0 25px 35px 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 96%;
        margin: 0;
        padding: 0;
    }
}
/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {
    #facebook-container{
        position: relative;
        right: 26px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 5px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 12px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        overflow: scroll;
    }
    /*Edicion del footer del carrito*/
    #footer-carrito{
        overflow: auto;
        margin: 0;
        padding: 0;
    }
    /*Edicion de los botones del carrito*/
    #comprar_carrito{
        margin-bottom: 25px;
    }
    /*Edicion del boton del carrito de seguir viendo*/
    #seguirv_carrito{
        margin-bottom: 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 98%;
        margin: 0;
        padding: 0;
    }
    #parte-infocarrito{
        height: 62%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    } 
    .background{
        margin-bottom: 0;
        padding: 0;
        height: 109px;
    }
}
/*Inicio de estilos del navbar*/
:root {
    --primary-color: #df5333;
    --second-color: #f48080;
    --third-color: #ff5b5b;
    --fourth-color: #ffb2b2;
  }
  
  .primary-bg-color {
    background-color: var(--primary-color);
  }
  
  .primary-text-color {
    color: var(--primary-color);
  }
  
  .second-bg-color {
    background-color: var(--secondary-color);
  }
  
  .second-text-color {
    color: var(--secondary-color);
  }
  
  .third-bg-color {
    background-color: var(--third-color);
  }
  
  .third-text-color {
    color: var(--third-color);
  }
  .logo-navbar {
    width: 40%;
    height: 40%;
    margin: 5px auto 0 auto;
  }
  
  .navbar-fixed .boton,
  .sidenav .boton {
    background: linear-gradient(99.82deg, #ffbd81 42.62%, #fb1515 198.11%);
    color: #000;
    border-radius: 15px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
  }
  
  .sidenav {
    background-color: var(--primary-color);
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 0 0;
    width: 90%;
    height: 80%;
  }
  
  /* Media Query */
  @media screen and (max-width: 1200px) {
    .design-section {
      font-size: 14px;
    }
  
    .about-img img {
      height: 70%;
      width: 70%;
    }
  
    .about-img {
      top: 48%;
      left: 31%;
    }
  }
  
  .sidenav .boton {
    color: #000 !important;
  }
  .sidenav .boton img {
    margin-top: 3px;
    width: 20%;
    height: 70%;
  }
  
  @media screen and (max-width: 992px) {
    .design-section {
      font-size: 10px;
    }
  
    .about-img img {
      height: 60%;
      width: 60%;
    }
  
    .about-img {
      top: 48%;
      left: 31%;
    }
  
    .animate-text {
      width: 35%;
    }
  
    .card .card-content span {
      font-size: 18px;
    }
  
    .container .brand-logo .logo-navbar {
      margin: 5px 0 0 40%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about-img img {
      height: 50%;
      width: 50%;
    }
  
    .design-section {
      font-size: 8px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 48%;
      left: 35%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .about-img img {
      height: 40%;
      width: 40%;
    }
  
    .animate-text {
      width: 35%;
    }
  
    .design-section {
      font-size: 8px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 35%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 18px;
    }
  
    .about-design {
      top: 10%;
    }
  }
  
  @media screen and (max-width: 450px) {
    .about-img img {
      height: 36%;
      width: 36%;
    }
  
    .design-section {
      font-size: 5px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 45%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 15px;
    }
  
    .about-design {
      top: 10%;
    }
  
    .about-btn .btn {
      font-size: 11px;
      padding: 0 60px 0 20px;
    }
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 3px 0;
    width: 90%;
    height: 80%;
  }
  #carrito-correcion{
      margin-top: 12px;
      height: 40px;
  }
  .sidenav {
    background-color: var(--primary-color);
  }

  @media screen and (max-width: 450px) {
    .about-img img {
      height: 36%;
      width: 36%;
    }
  
    .design-section {
      font-size: 5px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 45%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 15px;
    }
  
    .about-design {
      top: 10%;
    }
  
    .about-btn .btn {
      font-size: 11px;
      padding: 0 60px 0 20px;
    }
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 3px 0;
    width: 90%;
    height: 80%;
  }
  #carrito-correcion{
      margin-top: 12px;
      height: 40px;
  }
  .sidenav {
    background-color: var(--primary-color);
  }
