/* navbar */
:root {
  --primary-color: #df5333;
  --second-color: #f48080;
  --third-color: #ff5b5b;
  --fourth-color: #ffb2b2;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.second-bg-color {
  background-color: var(--secondary-color);
}

.second-text-color {
  color: var(--secondary-color);
}

.third-bg-color {
  background-color: var(--third-color);
}

.third-text-color {
  color: var(--third-color);
}
.logo-navbar {
  width: 40%;
  height: 40%;
  margin: 5px auto 0 auto;
}

.navbar-fixed .boton,
.sidenav .boton {
  background: linear-gradient(99.82deg, #ffbd81 42.62%, #fb1515 198.11%);
  color: #000;
  border-radius: 15px;
  border-left: 3px solid black;
  border-top: 3px solid black;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.sidenav {
  background-color: var(--primary-color);
}
.boton img {
  padding: 2px;
  margin: 3px 0 0 0;
  width: 90%;
  height: 80%;
}

/* Media Query */
@media screen and (max-width: 1200px) {
  .design-section {
    font-size: 14px;
  }

  .about-img img {
    height: 70%;
    width: 70%;
  }

  .about-img {
    top: 48%;
    left: 31%;
  }
}

.sidenav .boton {
  color: #000 !important;
}
.sidenav .boton img {
  margin-top: 3px;
  width: 20%;
  height: 70%;
}

@media screen and (max-width: 992px) {
  .design-section {
    font-size: 10px;
  }

  .about-img img {
    height: 60%;
    width: 60%;
  }

  .about-img {
    top: 48%;
    left: 31%;
  }

  .animate-text {
    width: 35%;
  }

  .card .card-content span {
    font-size: 18px;
  }

  .container .brand-logo .logo-navbar {
    margin: 5px 0 0 40%;
  }

  .about-btn a {
    padding-left: 25px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .about-img img {
    height: 50%;
    width: 50%;
  }

  .design-section {
    font-size: 8px;
  }

  .card .card-content span {
    font-size: 15px;
  }

  .about-img {
    top: 48%;
    left: 35%;
  }

  .about-btn a {
    padding-left: 25px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 660px) {
  .about-img img {
    height: 40%;
    width: 40%;
  }

  .animate-text {
    width: 35%;
  }

  .design-section {
    font-size: 8px;
  }

  .card .card-content span {
    font-size: 15px;
  }

  .about-img {
    top: 46%;
    left: 35%;
  }

  .about-btn a {
    padding-left: 25px;
    padding-right: 80px;
  }

  .text {
    font-size: 18px;
  }

  .about-design {
    top: 10%;
  }
}

@media screen and (max-width: 450px) {
  .about-img img {
    height: 36%;
    width: 36%;
  }

  .design-section {
    font-size: 5px;
  }

  .card .card-content span {
    font-size: 15px;
  }

  .about-img {
    top: 46%;
    left: 45%;
  }

  .about-btn a {
    padding-left: 25px;
    padding-right: 80px;
  }

  .text {
    font-size: 15px;
  }

  .about-design {
    top: 10%;
  }

  .about-btn .btn {
    font-size: 11px;
    padding: 0 60px 0 20px;
  }
}
.boton img {
  padding: 2px;
  margin: 3px 0 0 0;
  width: 90%;
  height: 80%;
}

.purchase-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav {
  background-color: var(--primary-color);
}
