*{
  margin: 0;
  padding: 0;
}
/*Hacer el Footer Sticky*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F7F0E9;
}

main {
 flex: 1 0 auto;
}
/*Edición del footer*/
.page-footer{
  display: block;
  background-color: #FF9E86;
  padding-bottom: 0%;
  padding-top: 1%;
  color: black;
  font-family: 'Popins', sans-serif;
  border-top: 2px solid black;  
}

#facebook{
  padding-top: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px; 
  width: 47px;
  position: relative;
  left: 150px;
}

#whatsapp{
  align-items: center;
  padding-top: 2px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
  position: relative;
  left: 150px;
}

#copywhat{
  display: none;
}

#whatsappcopied{
  background:0;
  border: 0;
  outline: none;
}

#instagram{
  align-items: center;
  padding-top: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
  position: relative;
  left: 150px;
}

#preguntasfrec{
  color: black;
  align-items: center;
}
#terminos-footer{
  color: black;
}

#Anexo{
  padding-top: 0%;
  margin: 0%;
}
#copyrigth{
  padding-top: 1.5px;
}
/*Edición de los tooltip no Materialize*/
.tooltip{
  font-weight: normal;
  color: gray;
  position: relative;
}

.tooltip-box{
  display: none;
  position: absolute;
  background-color: #DF5333;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 9px 10px;
  border-radius: 5px;
  left: 0;
  bottom: 50px;
}

.tooltip:hover .tooltip-box{
  display: inline-block;
}

.tooltip-box::after{
  content: "";
  display: block;
  border-top: 20px solid #DF5333;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -7px;
}
/*Edición del perfil*/
#regresar-boton{
  font-size: large;
  color: black;
  justify-items: left;
}

#div-regresarboton{
  padding: 25px;
  padding-left: 25px;
  padding-bottom: 0;
  padding-right: 0;
  font-family: 'Popins',sans-serif;
}

#col-perfil{
  background-color: linear-gradient(145.17deg, #EB9E9E 36.74%, rgba(235, 158, 158, 0.703125) 43.97%, rgba(235, 158, 158, 0) 61.08%);
  margin-top: 25px;
  padding: 0;
  font-family: 'Popins',sans-serif;
}

#contenido-perfil{
  background-color: #FBE9E8;
  padding-top: 30px;
  padding-left: 125px;
  padding-right: 125px;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;   
  border-left: 2px solid black;
}

#contenido-usuario{
  background: linear-gradient(145.17deg, #EB9E9E 36.74%, rgba(235, 158, 158, 0.703125) 43.97%, rgba(235, 158, 158, 0) 61.08%);
  border-top: 2px solid black;
  border-right: 2px solid black;   
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;
  margin: 0;
}

#iconousuario{
  margin-top: 50px;
  padding: 25px;
}

.input-field{
  padding: 25px;
}

.input-field label{
  color: black;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  justify-items: center;
}

.input-field input[type=text]:focus + label {
  color: #000;
}

.input-field input{
  font-weight: bold;
}
