*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F7F0E9;
    font-family: 'Poppins',sans-serif;
  }
  
 main {
   flex: 1 0 auto;
}
/*Estilos del footer*/
/*Estilo del footer en general*/
.page-footer{
    background-color: #FF9E86;
    padding-bottom: 0%;
    padding-top: 1%;
    color: black;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid black;
    padding-bottom: 0;
}

/*Estilos del las redes sociales*/
#facebook-container{
    padding: 0;
    position: relative;
    right: 5px;
}

#facebook{
    margin: 0;
    padding-top: 5px;
    background-color: black;
    border-radius: 5px;
    width: 47px;
}

#whatsapp-container{
    padding: 0;
    margin: 0;
    position: relative;
    right: 20px;
}

#whatsapp{
    padding-top: 2px;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    width: 45px;
    height: 42px;
}

#whatsappcopied{
    background:0;
    border: 0;
    outline: none;
}

#instagram-container{
    padding: 0;
    margin: 0;
    position: relative;
    right: 40px;
}

#instagram{
    align-items: center;
    padding-top: 5px;
    background-color: black;
    border-radius: 5px;
    width: 45px;
    height: 42px;
    }
/*Estilo de los links*/
#preguntasfrec{
    color: black;
    align-items: center;
}
#terminos-footer{
    color: black;
}

/*Estilo del copyrigth*/
#Anexo{
    padding-top: 0%;
    margin: 0%;
}
#copyrigth{
    padding-top: 1.5px;
}

/*Estilos de los tooltipped*/
.tooltip{
    font-weight: normal;
    color: gray;
    position: relative;
}
  
.tooltip-box{
    display: none;
    position: absolute;
    background-color: #DF5333;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 9px 10px;
    border-radius: 5px;
    left: 0;
    bottom: 50px;
}
  
.tooltip:hover .tooltip-box{
    display: inline-block;
}
  
.tooltip-box::after{
    content: "";
    display: block;
    border-top: 20px solid #DF5333;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -7px;
}

#copywhat{
    display: none;
}
  /*Fin de estilos del footer*/
/*Inicio de estilos de la confirmación de compra*/
/*Estilos la para información de envio*/
/*Estilo del banner o Titulo de la página*/
#banner-confirmacion{
    font-family: 'Pt Serif',serif;
    background-color: #F48080;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: -10px -5px  black;
   margin-bottom: 20px;
    }
/*Estilos para la columa de la información para el envio*/
#columna-info{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145.17deg, rgba(235, 158, 158, 0.54) 36.74%, rgba(235, 158, 158, 0.703125) 43.97%, rgba(235, 158, 158, 0.22) 61.08%);
    border: 1px solid gray;
}
/*Estilo para los inputs*/
/*Estilo del input del correo del usuario*/
#correo{
    box-shadow: inset 515px 5px white;
    margin-bottom: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo del input del nombre el usuario*/
#nombre_usuario{
    box-shadow: inset 515px 5px white;
    margin-top: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo del Input del apellido del usuario*/
#apellido_usuario{
    box-shadow: inset 515px 5px white;
    margin-top: 15px;
    color: #807B7B;
    font-family: 'Poppins', sans-serif;
}
/*Estilo de la direccion de usuario*/
#direccion_usuario{
    background-color: white;
    height: 50px;
    color: #807B7B;
    resize: none;
    font-family: 'Poppins', sans-serif;
}
/*Estiro del Punto de referencia respecto a la direccion del usuairo*/
#preferencia_usuario{
    background-color: white;
    font-family: 'Poppins',sans-serif;
}
/*Estilo para diseñar un SELECT personalizado*/
  /*Contenedor del select*/
.selectbox{
    width: 100%;
    margin: auto;
    position: relative;
}
/*Caja del select*/
.select{
    color: black;
    font-family: 'Poppins',sans-serif;
    height: 43px;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
}
/*Estilos para cuando este activo o se le esta apuntando con el mouse*/
.select.active,
.select:hover{
box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);  
border: 2px solid #DF5333;
}
/*Decoración de una flecha debajo del select*/
.select.active:before{
    content: "";
    display: flex;
    height: 0;
    width: 0;
    border-top: 15px solid #DF5333;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}
/*Estilo del icono del seletc*/
.icono-select{
    margin-right: 5px;
}
/*Estilo del texto del select*/
.titulo{
    font-weight: bold;
}
/*Estilo de las opciones del select*/
/*Estilo del texto*/
.opcion-select{
    color: black;
}
/*Estilo del contenedor de las opciones*/
.opciones-select{
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 200px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
}
/*Estilo para cuando las opciones esten activas*/
.opciones-select.active{
    display: block;
}
/*Estilo del contenedor de las opciones*/
.contenido-opcion{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    transition: .2s ease all;
    padding: 5px;
}
/*Estilo de la imagen de la opcion*/
.contenido-opcion img{
    position: relative;
    left: 25%;
}
/*Estilo del texto del contenedor*/
.contenido-opcion p{
    position: relative;
    left: 145%;
}
/*Estilo de las opciones cuando este el mouse por */
.opciones-select .contenido-opcion:hover{
    background: #F48080;
}
/*Inicio Estilos para el apartado de la Orden*/
/*Estilo del contenedor del apartado de la orden*/
#apartado-orden{
    margin-top: 25px;
}
/*Estilo del apartado de la orden*/
#parte-orden{
    border: 2px solid grey;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/*Estilo del titulo*/
#titulo-orden{
    padding: 0;
    background-color: #DF5333;
    margin: 0;
}
/*Estilo de las compras*/
#contenedor-compras{
    height: 200px;
    background-color: white;
    overflow: auto;
    border-bottom: 2px solid gray;
    margin-bottom: 0;
    margin-top: 0;
}
/*Estilo de los elementos de las compras*/
.compra{
    padding: 0;
    margin: 10px;
}
/*Estilo de los totales*/
#totales-orden{
    background-color: white;
    color: #5E5959;
}
/*Estilo del boton pagar*/
#pagar_btn{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 50px 35px 50px;
    font-weight: bold;
    margin-top: 15px;
}
/*Estilos del modal de confirmación de compra*/
.modal{
    font-family: 'Poppins', sans-serif;
}
#confirmar-compra_modal{
    margin-top: 7%;
    border-radius: 10px;
    background: linear-gradient(121.84deg, #FF8686 30.85%, #D5CA68 101.86%);  
    width: 350px;
    font-family: 'Poppins', sans-serif;
}
  
#decoracion-modal{
    border: 1px solid black;
    margin-top: 13px;
    background-color: black;
}
.fondo-modaldatos{
    margin: 10px;
    background-color: #F7F0E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
}
  
#fondomodal-footer{
    background-color: #F7F0E9;
    font-family: 'Poppins', sans-serif;
}
  
    #regresar-boton{
      font-size: large;
      color: black;
      justify-items: left;
    }
    
    #perfil-datos{
  margin-top: 45px;
  /*border-top: 2px solid black;
  border-right: 2px solid black;   
  border-left: 2px solid black;
  border-bottom: 2px solid black;*/
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

#containerdatos-perfil{
  background: linear-gradient(145.17deg, #EB9E9E 36.74%, rgba(235, 158, 158, 0.703125) 43.08%, rgba(255, 228, 174, 0.37) 61.08%);
  border-top: 2px solid black;
  border-right: 2px solid black;   
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  top: 0;
  margin-top: 0;
  margin-right: 0px;
}

/*Boton del guardar datos del perfil*/
#boton_guardadoperfil{
  margin-bottom: 10px;
}
/*Ocultar y mostrar */
#ocultarmostrar_contra{
  cursor: pointer;
}

#ocultarmostrar_contra:hover{
  opacity: 0.8;
}


#cancelactdatosperfil_boton{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: black;
  border-top: 6px solid black;
  border-left: 5px solid black;
  margin-bottom: 4px;
  padding: 0 25px 35px 25px;
}

.modal{
  font-family: 'Poppins', sans-serif;
}

#confirmardatosact_modal{
  margin-top: 7%;
  border-radius: 10px;
  background: linear-gradient(121.84deg, #FF8686 30.85%, #D5CA68 101.86%);  
  width: 350px;
  font-family: 'Poppins', sans-serif;
}

#decoracion-modal{
  border: 1px solid black;
  margin-top: 13px;
  background-color: black;
}
.fondo-modaldatos{
  margin: 10px;
  background-color: #F7F0E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
}

#fondomodal-footer{
  background-color: #F7F0E9;
  font-family: 'Poppins', sans-serif;
}

#aceptaractdatosperfil_boton{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
  border-radius: 15px;
  color: black;
  border-top: 6px solid black;
  border-left: 5px solid black;
  margin-bottom: 7px;
  padding: 0 25px 35px 25px;
  margin-top: 15px;
}

#actdatosperfil_preloader{
  position: relative;
  left: 100px;
  margin: 20px;
  display: none;
}

#actdatoscontra_preloader{
  position: relative;
  left: 350px;
  top: 85px;
  margin: 20px;
  display: none;
}
#inputs-datos{
  margin-bottom: 7px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}

#input-username{
  padding: 25px;
  margin-top: 35px;
  margin-bottom: 0px;
}

#label-inputsdatos{
  margin: 0;
  padding: 0;
}

#span-datosperfil{
  margin: 0;
  padding: 0;
}

.input-field label{
  color: black;

}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  justify-items: center;
}

.input-field input[type=text]:focus + label {
  color: #000;
}

.input-field input{
  font-weight: bold;
}

#perfil-datos .input-field input{
  font-size: 15px;
}
 
.nav-wrapper img{
  height: 60px;
  float: left;
  padding-left: 60px;
}

.nav-wrapper .user{
  font-size: 30px;
  float: right;
  padding-left: 40px;
}

.sidenav{
  align-items: center;
  background: #DF5333;
  }

.nav-wrapper {
  align-items: center;
  background: #DF5333;
  }

  .boton-menu{
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    border-radius: 17.5px;
    height: 40px;
    width: auto;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 4.5px solid black;
    border-left: 4.5px solid black;
  }
    
   
}