@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins&display=swap');

:root {
  --primary-color: #df5333;
  --second-color: #f48080;
  --third-color: #ff5b5b;
  --fourth-color: #ffb2b2;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.second-bg-color {
  background-color: var(--secondary-color);
}

.second-text-color {
  color: var(--secondary-color);
}

.third-bg-color {
  background-color: var(--third-color);
}

.third-text-color {
  color: var(--third-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f7f0e9;
  font-family: 'Poppins',
    sans-serif;
}

main {
  flex: 1 0 auto;
}


.card-section .card {
  margin: 40px 4px 10px 0px;
}

.card .card-image {
  margin: 10px 10px 0 10px;
}


.card-image img {
  margin-top: 10px;
}

.card .card-content p {
  font-family: "Popins", sans-serif;
}



.card-title {
  padding-right: 10px;
  padding-left: 10px;
}





.about-img img {
  height: 100%;
  width: 100%;
}

.design-section {
  position: relative;
  text-align: justify;
  font-size: 18px;
  margin-top: 30px;
}



.about-img {
  position: absolute;
  top: 48%;
  left: 29%;
  transform: translate(-50%, -50%);

}

.about-design {
  position: absolute;
  top: 29%;
  right: 15%;
  width: 30%;
}

.about-btn .btn {
  border-radius: 17.5px;
  width: 25%;
  background: rgba(255, 47, 0, 0.7);
  text-align: center;

}

.card-title {
  color: #000;
}

.card {
  background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
}

.animate-text {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 10%;
  -webkit-box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  background: #F48080;
  border-radius: 20px;
}

.text {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  color: transparent;
  color: black;
  margin-bottom: 30px;
  font-family: 'Nunito',
    sans-serif;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content p {
  font-size: 18px;
}

#hasta_arriba{

  display: none;

  transition: .2s;

}