/*Fuentes a usar para la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins&display=swap');
/*Incializacion de colores principales*/
:root {
  --primary-color: #df5333;
  --second-color: #f48080;
  --third-color: #ff5b5b;
  --fourth-color: #ffb2b2;
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.second-bg-color {
  background-color: var(--secondary-color);
}

.second-text-color {
  color: var(--secondary-color);
}

.third-bg-color {
  background-color: var(--third-color);
}

.third-text-color {
  color: var(--third-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f7f0e9;
  font-family: 'Poppins',
    sans-serif;
}

main {
  flex: 1 0 auto;
}

/*Incializacion de estilos de las card */

.card-section .card {
  margin: 40px 4px 10px 0px;
}

.card .card-image {
  margin: 10px 10px 0 10px;
}


.card-image img {
  margin-top: 10px;
}

.card .card-content p {
  font-family: "Popins", sans-serif;
}



.card-title {
  padding-right: 10px;
  padding-left: 10px;
}

.about-img img {
  height: 100%;
  width: 100%;
}

.design-section {
  position: relative;
  text-align: justify;
  font-size: 18px;
  margin-top: 30px;
}

.about-img {
  position: absolute;
  top: 48%;
  left: 29%;
  transform: translate(-50%, -50%);

}

.about-design {
  position: absolute;
  top: 29%;
  right: 15%;
  width: 30%;
}

.about-btn .btn {
  border-radius: 17.5px;
  width: 25%;
  background: rgba(255, 47, 0, 0.7);
  text-align: center;

}

.card-title {
  color: #000;
}

.card {
  background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
}

.animate-text {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 10%;
  -webkit-box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  box-shadow: -7px 5px 14px 2px rgba(0, 0, 0, 0.64);
  background: #F48080;
  border-radius: 20px;
}

.text {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  color: transparent;
  color: black;
  margin-bottom: 30px;
  font-family: 'Nunito',
    sans-serif;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content p {
  font-size: 18px;
}

#hasta_arriba{

  display: none;

  transition: .2s;

}
 /*Diseño del carrtio*/
/*Estilo de los side nav general*/
#carrito{
    font-family: 'Poppins',sans-serif;
    width: 400px;
    margin: 0;
    padding: 0;
  }
  /*Titulo del carrito*/
  #titulo-carrito{
    position: absolute;
    left: 40%;
    top: 20px;
    font-family: 'Pt Serif',serif;
  }
  /*Icono del titulo del carrito*/
  #carrito-icon{
    position: absolute;
    top: 40px;
    left: 24%;
  }
  /*Edicion del backgroun del header del carrito*/
  .background{
    margin-bottom: 0;
    padding: 0;
    height: 114px;
  }
  /*Edicion de la parte de la informacion del carrito*/
  /*Edicion general del contenedor de la informacion del carrito*/
  #parte-infocarrito{
    height: 65%;
    background-color: #F7F0E9;
    margin-top: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
  }
  /*Estilos del boton de eliminar del carrito*/
  /*Estilo del contenedor*/
  .elimardel-carrito{
    margin: 0;
    padding: 0;
    height: 5px;
  }
  /*Estilo de la imagen o icono*/
  .elimardel-carrito img{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 98%;
    margin: 0;
    padding: 0;
  }
  /*Edición del fondo del contenido de la compra en el carrito*/
  #fondocompra-carrito1{
    background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
    border: 2px solid black;
    margin-top: 25px;
  }
  #fila-contenidocarrito{
    margin: 0;
    padding: 0;
  }
  #imagencontenido-carrito{
    padding-top: 20px;
    margin: 0;
  }
  #nombreAmigurumi_carrito{
    padding: 25px 0 0 0;
    margin: 0px;
  }
  #coldetalle-carrito{
    margin: 0;
    padding: 0;
    height: 25px;
  }
  #columanprueba{
    padding: 0;
    margin: 0;
  }
  /*Edicion del footer del carrito*/
  #footer-carrito{
    background-color: #DF5333;
    font-family: 'Poppins',sans-serif;
    overflow: auto;
  }
  /*Edicion de la seccion total a pagar del carrito*/
  #total-carrito{
    margin: 0;
    padding: 0;
  }
  /*Edicion de los botones del carrito*/
  #comprar_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 35px 35px 35px;
  }
  /*Edicion del boton del carrito de seguir viendo*/
  #seguirv_carrito{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: black;
    border-top: 6px solid black;
    border-left: 5px solid black;
    padding: 0 25px 35px 25px;
  }
  /*Final de los estilos del carrito*/
/*Telefonos*/
@media (max-width:600px){
    #facebook-container{
        position: relative;
        right: 20px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 17px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        width: 325px;
    }
    /*Edicion del backgroun del header del carrito*/
    .background{
        height: 93px;
    }
    /*Edicion de la parte de la informacion del carrito*/
    #parte-infocarrito{
        height: 60%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    }  
    /*Estilo de los carritos*/
    #comprar_carrito{
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        color: black;
        border-top: 6px solid black;
        border-left: 5px solid black;
        padding: 0 25px 35px 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 96%;
        margin: 0;
        padding: 0;
    }
}
/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {
    #facebook-container{
        position: relative;
        right: 26px;
    }

    #whatsapp-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 15px;
    }

    #instagram-container{
        padding: 0;
        margin: 0;
        position: relative;
        right: 5px;
    }
    /*Estilo para los inputs*/
    /*Estilo del input del correo del usuario*/
    #correo{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del input del nombre el usuario*/
    #nombre_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo del Input del apellido del usuario*/
    #apellido_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estilo de la direccion de usuario*/
    #direccion_usuario{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    /*Estiro del Punto de referencia respecto a la direccion del usuairo*/
    #preferencia_usuario{
        font-family: 'Poppins',sans-serif;
        font-size: 12px;
    }
    /*Estilo del sidenav*/
    #carrito{
        font-family: 'Poppins',sans-serif;
        overflow: scroll;
    }
    /*Edicion del footer del carrito*/
    #footer-carrito{
        overflow: auto;
        margin: 0;
        padding: 0;
    }
    /*Edicion de los botones del carrito*/
    #comprar_carrito{
        margin-bottom: 25px;
    }
    /*Edicion del boton del carrito de seguir viendo*/
    #seguirv_carrito{
        margin-bottom: 25px;
    }
    /*Estilo de la imagen o icono*/
    .elimardel-carrito img{
        cursor: pointer;
        position: relative;
        bottom: 15px;
        left: 98%;
        margin: 0;
        padding: 0;
    }
    #parte-infocarrito{
        height: 62%;
        background-color: #F7F0E9;
        margin-top: 0;
        overflow: auto;
    } 
    .background{
        margin-bottom: 0;
        padding: 0;
        height: 109px;
    }
}
/*Inicio de estilos del navbar*/
:root {
    --primary-color: #df5333;
    --second-color: #f48080;
    --third-color: #ff5b5b;
    --fourth-color: #ffb2b2;
  }
  
  .primary-bg-color {
    background-color: var(--primary-color);
  }
  
  .primary-text-color {
    color: var(--primary-color);
  }
  
  .second-bg-color {
    background-color: var(--secondary-color);
  }
  
  .second-text-color {
    color: var(--secondary-color);
  }
  
  .third-bg-color {
    background-color: var(--third-color);
  }
  
  .third-text-color {
    color: var(--third-color);
  }
  .logo-navbar {
    width: 40%;
    height: 40%;
    margin: 5px auto 0 auto;
  }
  
  .navbar-fixed .boton,
  .sidenav .boton {
    background: linear-gradient(99.82deg, #ffbd81 42.62%, #fb1515 198.11%);
    color: #000;
    border-radius: 15px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
  }
  
  .sidenav {
    background-color: var(--primary-color);
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 0 0;
    width: 90%;
    height: 80%;
  }
  
  /* Media Query */
  @media screen and (max-width: 1200px) {
    .design-section {
      font-size: 14px;
    }
  
    .about-img img {
      height: 70%;
      width: 70%;
    }
  
    .about-img {
      top: 48%;
      left: 31%;
    }
  }
  
  .sidenav .boton {
    color: #000 !important;
  }
  .sidenav .boton img {
    margin-top: 3px;
    width: 20%;
    height: 70%;
  }

/*Responsive*/

  @media screen and (max-width: 992px) {
    .design-section {
      font-size: 10px;
    }
  
    .about-img img {
      height: 60%;
      width: 60%;
    }
  
    .about-img {
      top: 48%;
      left: 31%;
    }
  
    .animate-text {
      width: 35%;
    }
  
    .card .card-content span {
      font-size: 18px;
    }
  
    .container .brand-logo .logo-navbar {
      margin: 5px 0 0 40%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about-img img {
      height: 50%;
      width: 50%;
    }
  
    .design-section {
      font-size: 8px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 48%;
      left: 35%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .about-img img {
      height: 40%;
      width: 40%;
    }
  
    .animate-text {
      width: 35%;
    }
  
    .design-section {
      font-size: 8px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 35%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 18px;
    }
  
    .about-design {
      top: 10%;
    }
  }
  
  @media screen and (max-width: 450px) {
    .about-img img {
      height: 36%;
      width: 36%;
    }
  
    .design-section {
      font-size: 5px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 45%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 15px;
    }
  
    .about-design {
      top: 10%;
    }
  
    .about-btn .btn {
      font-size: 11px;
      padding: 0 60px 0 20px;
    }
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 3px 0;
    width: 90%;
    height: 80%;
  }
  #carrito-correcion{
      margin-top: 12px;
      height: 40px;
  }
  .sidenav {
    background-color: var(--primary-color);
  }

  @media screen and (max-width: 450px) {
    .about-img img {
      height: 36%;
      width: 36%;
    }
  
    .design-section {
      font-size: 5px;
    }
  
    .card .card-content span {
      font-size: 15px;
    }
  
    .about-img {
      top: 46%;
      left: 45%;
    }
  
    .about-btn a {
      padding-left: 25px;
      padding-right: 80px;
    }
  
    .text {
      font-size: 15px;
    }
  
    .about-design {
      top: 10%;
    }
  
    .about-btn .btn {
      font-size: 11px;
      padding: 0 60px 0 20px;
    }
  }
  .boton img {
    padding: 2px;
    margin: 3px 0 3px 0;
    width: 90%;
    height: 80%;
  }
  #carrito-correcion{
      margin-top: 12px;
      height: 40px;
  }
  .sidenav {
    background-color: var(--primary-color);
  }

  a{
    color: #000;
  }
