*{
  margin: 0;
  padding: 0;
}


/*Logo de la página*/
.nav-wrapper img{
height: 60px;
float: left;
padding-left: 60px;
}


/*Logo de perfil*/
.nav-wrapper .user{
font-size: 30px;
float: right;
padding-left: 40px;
}


/*Menú para movile*/
.sidenav{
align-items: center;
background: #DF5333;
}


/*Menú*/
.nav-wrapper {
align-items: center;
background: #DF5333;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F7F0E9;
  font-family: 'Poppins',sans-serif;
}


main {
  flex: 1 0 auto;
}


/*Botones del menú*/
.boton-menu{
  background: linear-gradient(99.82deg, #FFBD81 42.62%, #FB1515 198.11%);
  border-radius: 17.5px;
  height: 40px;
  width: auto;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  border-top: 4.5px solid black;
  border-left: 4.5px solid black;
}


/*Parte del buscador*/
.imagen-lupa img {
  height: 35px;
}


.buscador{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 230px;
}


/*Parte de añadir*/
.añadir{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 230px;
  float: right;
}


.imagen-añadir img{
  height: 40px;
}


.boton-añadir{
  float:right;
  background:linear-gradient(90deg, #DF5333 50%, rgba(255, 158, 134, 0) 102.37%);
  color: #000;
  height: 40px;
  width: 130px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  border-top: 4.5px solid black;
  border-left: 4.5px solid black;
}


/*Parte del encabezado*/
.encabezado{
  align-items: center;
}
  
/*Estilos de las cards en general*/ 
.card{
width: 180px;
background: linear-gradient(145.17deg, rgba(235, 158, 158, 0) 49.29%, rgba(235, 158, 158, 0.703125) 61.08%, #EB9E9E 61.08%);
border: 2px solid #000000;   
}


#usuario-row {
  padding-left: 40px;
}


#usuario-row2 {
padding-left: 40px;
}


.imagen-usuario img{
border: 2px solid #000000; 
padding: 8px;
}


.botones{
float: right;
}


.card-content{
font-weight: bold;  
text-align: center;
}


.card-title{
text-align: center;
}


/*Modal eliminar*/
.boton-siborrar{
float:right;
background:linear-gradient(90deg, #DF5333 50%, rgba(255, 158, 134, 0) 102.37%);
color: #000;
border-radius: 15px;
height: 40px;
width: 130px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
border-top: 4.5px solid black;
border-left: 4.5px solid black;
}

.boton-noborrar{
float:right;
background:linear-gradient(90deg, #DF5333 50%, rgba(255, 158, 134, 0) 102.37%);
color: #000;
border-radius: 15px;
height: 40px;
width: 130px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
border-top: 4.5px solid black;
border-left: 4.5px solid black;
}


/*Estilos de los modals*/
#borrar-usuario{
margin-top: 7%;
border: 2px solid #000000; 
border-radius: 10px;
background: linear-gradient(145.17deg, #EB9E9E 36.74%, rgba(235, 158, 158, 0.703125) 43.08%, rgba(255, 228, 174, 0.37) 61.08%);
font-family: 'Poppins', sans-serif;
}


.modal-content{
font-weight: bold;
text-align: center;
}


/*Estilos del footer*/
/*Estilo del footer en general*/
.page-footer{
background-color: #FF9E86;
padding-bottom: 0%;
padding-top: 1%;
color: black;
font-family: 'Poppins', sans-serif;
border-top: 2px solid black;
padding-bottom: 0;
}

/*Estilos del las redes sociales*/
#facebook-container{
  padding: 0;
  position: relative;
  right: 5px;
}

#facebook{
  margin: 0;
  padding-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 47px;
}

#whatsapp-container{
  padding: 0;
  margin: 0;
  position: relative;
  right: 20px;
}

#whatsapp{
  padding-top: 2px;
  align-items: center;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
}

#whatsappcopied{
  background:0;
  border: 0;
  outline: none;
}

#instagram-container{
  padding: 0;
  margin: 0;
  position: relative;
  right: 40px;
}

#instagram{
  align-items: center;
  padding-top: 5px;
  background-color: black;
  border-radius: 5px;
  width: 45px;
  height: 42px;
  }
/*Estilo de los links*/
#inicio{
  color: black;
  float: center;
}

/*Estilo del copyrigth*/
#Anexo{
  padding-top: 0%;
  margin: 0%;
}
#copyrigth{
  padding-top: 1.5px;
}

/*Estilos de los tooltipped*/
.tooltip{
  font-weight: normal;
  color: gray;
  position: relative;
}

.tooltip-box{
  display: none;
  position: absolute;
  background-color: #DF5333;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 9px 10px;
  border-radius: 5px;
  left: 0;
  bottom: 50px;
}

.tooltip:hover .tooltip-box{
  display: inline-block;
}

.tooltip-box::after{
  content: "";
  display: block;
  border-top: 20px solid #DF5333;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -7px;
}

#copywhat{
  display: none;
}


@media (max-width:600px){


  #usuario-row{
    padding-left: 70px;
    }

    #usuario-row2{
    padding-left: 70px;
    }


  #actdatoscontra_preloader{
    position: relative;
    left: 70px;
    top: 230px;
    margin: 20px;
    display: none;
  }


  #facebook-container{
      position: relative;
      right: 20px;
  }


  #whatsapp-container{
      padding: 0;
      margin: 0;
      position: relative;
      right: 17px;
  }


  #instagram-container{
      padding: 0;
      margin: 0;
      position: relative;
      right: 15px;
  }
}
/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {


  #usuario-row{
  padding-left: 80px;
  }


  #usuario-row2{
  padding-left: 80px;
  }


  #facebook-container{
  position: relative;
  right: 26px;
  }


  #whatsapp-container{
  padding: 0;
  margin: 0;
  position: relative;
  right: 15px;
  }


  #instagram-container{
  padding: 0;
  margin: 0;
  position: relative;
  right: 5px;
  }
}

/*Correcciones*/
/*Correcciones*/
#color-icononav{
  color: #000;
}