<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../resources/css/estilos-privada.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
  <!--Importando las fuentes de google-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" href="../../resources/img/icons/icono-web.jpeg">
</head>

<body id="categoriaP">
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><img src="../../resources/img/icons/Logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="center-align hide-on-med-and-down">
            <a class="boton-menu waves-effect waves-teal btn-flat center-align" href="inicio.html">Inicio</a>
            <a class="boton-menu waves-effect waves-teal btn-flat center-align" href="clientes.html">Clientes</a>
            <a class="boton-menu waves-effect waves-teal btn-flat center-align" href="productos.html">Productos</a>
            <a class="boton-menu waves-effect waves-teal btn-flat center-align" href="usuarios.html">Usuarios</a>
            <a class="boton-menu waves-effect waves-teal btn-flat center-align"
              href="pendientesami.html">Establecidos</a>
            <a class="boton-menu waves-effect waves-teal btn-flat center-align"
              href="pendientesper.html">Personalizados</a>
            <a href="perfilpriv.html" class="user brand-logo" id="color-icononav"><i
                class="material-icons">person</i></a>
          </ul>
        </div>
      </nav>

    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="inicio.html">Inicio</a></li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="clientes.html">Clie</a></li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="productos.html">Productos</a>
      </li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="usuarios.html">Usuarios</a>
      </li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="pedidosami.html">Establecidos</a>
      </li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="pedidosper.html">Personalizados</a>
      </li>
      <li><a class="boton-menu waves-effect waves-teal btn-flat center-align" href="perfil.html"
          class="user brand-logo">Perfil<i class="material-icons">person</i></a></li>
    </ul>
  </header>
  <main>
    <div class="container">


      <!--Fila del titulo de confirmación de compra-->
      <div class="row">
        <div class="col offset-s3 s6 center-align" id="banner-confirmacion">
          <h5>Categorias</h5>
        </div>
      </div>
      <div>
        <div class="col l1 m2 s10 left-align" id="div-regresarboton">
          <a href="javascript: history.go(-1)" id="regresar-boton">
            < Volver</a>
        </div>
        <div class="divider" id="divider-1"></div>
      </div>
      <!--Fila de la información-->
      <!--Perfil-Datos-->


      <div class="row">
        <form method="post" id="search-form">
          <div class="input-field col s8 m4">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" name="search" required>
            <label for="search">Buscador</label>
          </div>
          <div class="input-field col s6 m4">
            <button type="submit" class="btn-floating waves-effect green tooltipped" data-tooltip="Buscar">
              <i class="material-icons">check</i>
            </button>
          </div>
        </form>
        <div class="col s12">
          <div class="row">
            <div class="col offset-m6 m6 s12 right-align">
              <a class="btn-floating waves-effect waves-light green tooltipped"><i class="material-icons">add</i></a>
              <a onclick="openCreate()" class="modal-trigger waves-effect waves-light btn" data-tooltip="Crear"
                id="pagar_btn_">Añadir</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <form class="col s12 m12 l12" id="ah">
            <div class="row">
              <div id="Categorias">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Contenedor del menu para la páginación-->
    <div class="container">
      <div class="row">
        <div class="col s2 offset-s2 m2 offset-m2 l1 offset-l4 center" id="contenedor-botonnavg">
          <div class="botonnavg-footer center" id="pagnavg-atr">
            <a class="tooltipped" data-position="left" data-tooltip="Regresar página anterior"><i
                class="material-icons medium">chevron_left</i></a>
          </div>
        </div>
        <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
          <div class="botonnavg-footer center contnpag">
            <a><span class="pagnavg" id="pagnumeroi">1</span></a>
          </div>
        </div>
        <div class="col s2  m2 l1 center" id="contenedor-botonnavg">
          <div class="botonnavg-footer center contnpag">
            <a><span class="pagnavg" id="pagnumerof">2</span></a>
          </div>
        </div>
        <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
          <div class="botonnavg-footer center tooltipped" data-position="top" data-tooltip="¡Más muy pronto!">
            <a><span>...</span></a>
          </div>
        </div>
        <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
          <div class="botonnavg-footer center" id="pagnavg-adl">
            <a class="tooltipped" data-position="right" data-tooltip="Página siguiente"><i
                class="material-icons medium">chevron_right</i></a>
          </div>
        </div>
      </div>
    </div>


    <!--Diseño del modal de confirmación de actualización de datos-->
    <div id="confirmar-compra_modal" class="modal">
      <div class="fondo-modaldatos modal-content">
        <div class="center-align">
          <div class="row">
            <div class="col offset-s3 s6 center-align" id="banner-confirmacion">
              <h5 id="title" >Categorias</h5>
            </div>
          </div>

          <div class="col s12" id="decoracion-modal"></div>
          <div class="col l1 m2 s10 left-align" id="div-regresarboton">
            <a class="modal-close" id="regresar-boton-popup">
              < Volver a cateorias</a>
          </div>
        </div>

        <form class="row" method="post" id="save-form" enctype="multipart/form-data">
          <input class="hide" type="number" id="id_categoria" name="id_categoria">
          <div class="col s12">
            <div class="input-field col s12 m12 l10">
              <input id="nombre" name="nombre" type="text" class="validate" required>
              <label for="nombre">Nombre de nueva categoria</label>
            </div>
            <div class="row">
              <div class="col offset-m6 m6 s6 right-align">
                <button type="submit" class=" waves-effect waves-light btn tooltipped" data-tooltip="Guardar"
                  id="pagar_btn_">Añadir</a>
              </div>
            </div>
          </div>
        </form>

        <div class="col s12" id="decoracion-modal"></div>
      </div>
    </div>
    <!--Boton de hasta arriba-->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red" id="hasta_arriba">
        <i class="large material-icons">arrow_upward</i>
      </a>
      <ul>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row" id="redes-footer">
        <div class="col center-align l1 offset-l5 m1 offset-m5 s2 offset-s4" id="facebook-container">
          <div class="center-align z-depth-4" id="facebook">
            <a class="tooltip" href="https://www.instagram.com/lolin.sv/" target="_blank">
              <img class="responsive-img " src="../../resources/img/icons/facebook.png">
              <span class="tooltip-box">¡Siguenos! en Facebook</span>
            </a>
          </div>
        </div>
        <div class="col l1 m1 s2" id="whatsapp-container">
          <div class="center-align z-depth-4" id="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=77085832" target="_blank">
              <button class="tooltip" type="button" id="whatsappcopied">
                <p class="center-align" id="copywhat">77085832</p>
                <img class="responsive-img " src="../../resources/img/icons/whatsapp.png">
                <span class="tooltip-box">¡Copia nuestro Whatsapp!</span>
              </button>
            </a>
          </div>
        </div>
        <div class="col l1 m1 s2" id="instagram-container">
          <div class="center-align z-depth-4" id="instagram">
            <a class="tooltip" href="https://www.instagram.com/lolin.sv/">
              <img class="responsive-img " src="../../resources/img/icons/instagram.png" target="_blank">
              <span class="tooltip-box">¡Siguenos! en Instagram</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row" id="Anexo">
        <!--Anexo-->
        <div class="center-align">
          <a href="inicio.html" class="right-align " id="inicio">Inicio</a>
        </div>
      </div>
      <div>
        <!--Derechos de autor-->
        <div class="container center-align" id="copyrigth">
          <p id="copyri"><span>&copy 2022 Lolin</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../controllers/components.js"></script>
  <script src="../../controllers/validaciones.js"></script>
  <script src="../../controllers/dashboard/categoria.js"></script>
</body>

</html>