<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>Lolin.sv-Codigo de restablecer contraseña</title>
</head>

<body class=" grey lighten-3" style="margin: 0; padding:0;">
    <div>
        <nav class="orange darken-4 center">
            <div class="nav-wrapper">
                <h3 style="margin: 0;">Lolin.sv</h3>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="center-align">Recuperar contraseña</h1>
        <p>En lolin nos preocupamos por ti, a continuación veras un codigo de 6 digitos para recuperar la contraseña, no
            olvides que este solo dura 1h y es distinto conforme tu continues generando más codigos <b>¡Apresurate! Margin</b></p>
        <div class="row center">
            <div class="col s12 m6  offset-l3 offset-m3">
                <div class="card-panel orange darken-4 white-text">
                    <h3>123456</h3>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript al final para optimizar-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>