<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../resources/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../resources/css/estilos-publica.css" media="screen,projection" />
    <!--Icono del sitio web-->
    <link rel="icon" href="../../resources/img/icons/icono-web.jpeg">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>Lolin.sv-Productos</title>
</head>

<body class="productos-public">
    <header>
        <div class="navbar-fixed">
            <nav class="primary-bg-color">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">
                            <img class="logo-navbar" src="../../resources/img/icons/logo.png" alt="">
                        </a>
                        <a href="#carrito" data-target="mobile-demo" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a class="waves-effect waves-light btn second-bg-color boton"
                                    href="index.html">Inicio</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-light btn second-bg-color boton"
                                    href="productos.html">Productos</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-light btn second-bg-color boton"
                                    href="registro-usuario.html">Registrarse</a>
                            </li>
                            <li>
                            <li><a class="waves-effect waves-light btn second-bg-color boton" href="login.html">Iniciar
                                    sesión <i class="material-icons left">person</i></a></li>
                            </li>
                            <li>
                                <a href="#carrito" data-target="carrito"
                                    class="sidenav-trigger show-on-large waves-effect waves-light btn second-bg-color boton"
                                    id="carrito-correcion"><img class="responsive-img"
                                        src="../../resources/img/amigurumis/shopping.png" alt=""></a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a class="waves-effect waves-light btn second-bg-color boton" href="index.html">Inicio</a>
            </li>
            <li>
                <a class="waves-effect waves-light btn second-bg-color boton" href="productos.html">Productos</a>
            </li>
            <li>
                <a class="waves-effect waves-light btn second-bg-color boton"
                    href="registro-usuario.html">Registrarse</a>
            </li>
            <li>
            <li><a class="waves-effect waves-light btn second-bg-color boton" href="login.html">Iniciar sesión <i
                        class="material-icons left">person</i></a></li>
            </li>
            <li>
                <a href="#carrito" data-target="carrito"
                    class="sidenav-trigger show-on-large waves-effect waves-light btn second-bg-color boton"
                    id="abrircarrito-mobile"><img src="../../resources/img/amigurumis/shopping.png" alt=""></a>
            </li>
            </li>
        </ul>
        <!--Diseño del carrito-->
        <ul id="carrito" class="sidenav">
            <!--Diseño del encabezado del carrito-->
            <li>
                <div class="fondodecoracion-carrito">
                    <div class="background">
                        <h4 id="titulo-carrito">Carrito</h4>
                        <img class="responsive-img" src="../../resources/img/icons/carrito-icono.png" id="carrito-icon">
                        <img class="responsive-img" src="../../resources/img/icons/fondo-carrito.png"
                            id="fondotitulo-carrito">
                    </div>
                </div>
            </li>
            <!--Diseño de la información del carrito-->
            <li id="parte-infocarrito">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <!--Elementos de la compra en el carrito-->
                            <!--Elemento-->
                            <div class="row">
                                <!--Fondo del elemento-->
                                <div class="col s12" id="fondocompra-carrito1">
                                    <!--Icono de eliminar-->
                                    <div class="elimardel-carrito">
                                        <img class="responsive-img"
                                            src="../../resources/img/icons/eliminardel-carrito.png">
                                    </div>
                                    <!--Contenedor del contenido del carrito-->
                                    <div class="row" id="fila-contenidocarrito">
                                        <!--Columna de la imagen-->
                                        <div class="col s6 center-align" id="imagencontenido-carrito">
                                            <img class="responsive-img"
                                                src="../../resources/img/icons/amigurumi4-carrito.png" height="276px"
                                                width="254">
                                        </div>
                                        <!--Columna del detalle del contenido-->
                                        <div class="col s6">
                                            <!--Fila de los detalles-->
                                            <div class="row">
                                                <!--Columna del nombre del producto-->
                                                <div class="col s12 center-align">
                                                    <h6 id="nombreAmigurumi_carrito">Brown Guy</h6>
                                                </div>
                                                <!--Columna de la cantidad-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Cantidad:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l6 s1 offset-s6 right-align">
                                                        <p id="cantidaddetalle_carrito">2</p>
                                                    </div>
                                                </div>
                                                <!--Columna del precio-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Precio:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l3 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$19.83</p>
                                                    </div>
                                                </div>
                                                <!--Columna del subtotal-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Subtotal:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l4 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$39.66</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Elemento-->
                            <div class="row">
                                <!--Fondo del elemento-->
                                <div class="col s12" id="fondocompra-carrito1">
                                    <!--Icono de eliminar-->
                                    <div class="elimardel-carrito">
                                        <img class="responsive-img"
                                            src="../../resources/img/icons/eliminardel-carrito.png">
                                    </div>
                                    <!--Contenedor del contenido del carrito-->
                                    <div class="row" id="fila-contenidocarrito">
                                        <!--Columna de la imagen-->
                                        <div class="col s6 center-align" id="imagencontenido-carrito">
                                            <img class="responsive-img"
                                                src="../../resources/img/icons/amigurumi1-carrito.png" height="276px"
                                                width="254">
                                        </div>
                                        <!--Columna del detalle del contenido-->
                                        <div class="col s6">
                                            <!--Fila de los detalles-->
                                            <div class="row">
                                                <!--Columna del nombre del producto-->
                                                <div class="col s12 center-align">
                                                    <h6 id="nombreAmigurumi_carrito">Harry Potter</h6>
                                                </div>
                                                <!--Columna de la cantidad-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Cantidad:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l6 s1 offset-s6 right-align">
                                                        <p id="cantidaddetalle_carrito">2</p>
                                                    </div>
                                                </div>
                                                <!--Columna del precio-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Precio:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l3 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$19.98</p>
                                                    </div>
                                                </div>
                                                <!--Columna del subtotal-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Subtotal:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l4 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$39.96</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Elemento-->
                            <div class="row">
                                <!--Fondo del elemento-->
                                <div class="col s12" id="fondocompra-carrito1">
                                    <!--Icono de eliminar-->
                                    <div class="elimardel-carrito">
                                        <img class="responsive-img"
                                            src="../../resources/img/icons/eliminardel-carrito.png">
                                    </div>
                                    <!--Contenedor del contenido del carrito-->
                                    <div class="row" id="fila-contenidocarrito">
                                        <!--Columna de la imagen-->
                                        <div class="col s6 center-align" id="imagencontenido-carrito">
                                            <img class="responsive-img"
                                                src="../../resources/img/icons/amigurumi1-carrito.png" height="276px"
                                                width="254">
                                        </div>
                                        <!--Columna del detalle del contenido-->
                                        <div class="col s6">
                                            <!--Fila de los detalles-->
                                            <div class="row">
                                                <!--Columna del nombre del producto-->
                                                <div class="col s12 center-align">
                                                    <h6 id="nombreAmigurumi_carrito">Brown Guy</h6>
                                                </div>
                                                <!--Columna de la cantidad-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Cantidad:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l6 s1 offset-s6 right-align">
                                                        <p id="cantidaddetalle_carrito">2</p>
                                                    </div>
                                                </div>
                                                <!--Columna del precio-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Precio:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l3 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$19.38</p>
                                                    </div>
                                                </div>
                                                <!--Columna del subtotal-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Subtotal:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l4 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$38.76</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Elemento-->
                            <div class="row">
                                <!--Fondo del elemento-->
                                <div class="col s12" id="fondocompra-carrito1">
                                    <!--Icono de eliminar-->
                                    <div class="elimardel-carrito">
                                        <img class="responsive-img"
                                            src="../../resources/img/icons/eliminardel-carrito.png">
                                    </div>
                                    <!--Contenedor del contenido del carrito-->
                                    <div class="row" id="fila-contenidocarrito">
                                        <!--Columna de la imagen-->
                                        <div class="col s6 center-align" id="imagencontenido-carrito">
                                            <img class="responsive-img"
                                                src="../../resources/img/icons/amigurumi1-carrito.png" height="276px"
                                                width="254">
                                        </div>
                                        <!--Columna del detalle del contenido-->
                                        <div class="col s6">
                                            <!--Fila de los detalles-->
                                            <div class="row">
                                                <!--Columna del nombre del producto-->
                                                <div class="col s12 center-align">
                                                    <h6 id="nombreAmigurumi_carrito">Brown Guy</h6>
                                                </div>
                                                <!--Columna de la cantidad-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Cantidad:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l6 s1 offset-s6 right-align">
                                                        <p id="cantidaddetalle_carrito">2</p>
                                                    </div>
                                                </div>
                                                <!--Columna del precio-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Precio:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l3 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$19.38</p>
                                                    </div>
                                                </div>
                                                <!--Columna del subtotal-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Subtotal:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l4 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$38.76</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Elemento-->
                            <div class="row">
                                <!--Fondo del elemento-->
                                <div class="col s12" id="fondocompra-carrito1">
                                    <!--Icono de eliminar-->
                                    <div class="elimardel-carrito">
                                        <img class="responsive-img"
                                            src="../../resources/img/icons/eliminardel-carrito.png">
                                    </div>
                                    <!--Contenedor del contenido del carrito-->
                                    <div class="row" id="fila-contenidocarrito">
                                        <!--Columna de la imagen-->
                                        <div class="col s6 center-align" id="imagencontenido-carrito">
                                            <img class="responsive-img"
                                                src="../../resources/img/icons/amigurumi1-carrito.png" height="276px"
                                                width="254">
                                        </div>
                                        <!--Columna del detalle del contenido-->
                                        <div class="col s6">
                                            <!--Fila de los detalles-->
                                            <div class="row">
                                                <!--Columna del nombre del producto-->
                                                <div class="col s12 center-align">
                                                    <h6 id="nombreAmigurumi_carrito">Brown Guy</h6>
                                                </div>
                                                <!--Columna de la cantidad-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Cantidad:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l6 s1 offset-s6 right-align">
                                                        <p id="cantidaddetalle_carrito">2</p>
                                                    </div>
                                                </div>
                                                <!--Columna del precio-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Precio:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l3 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$19.38</p>
                                                    </div>
                                                </div>
                                                <!--Columna del subtotal-->
                                                <div class="col s12" id="coldetalle-carrito">
                                                    <div class="col l1 s1 left-align">
                                                        <p><b>Subtotal:</b></p>
                                                    </div>
                                                    <div class="col l1 offset-l4 s1 offset-s5 right-align">
                                                        <p id="preciodetalle_carrito">$38.76</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li id="footer-carrito">
                <div class="row">
                    <div class="col s12">
                        <div class="col s4 right-align" id="total-carrito">
                            <p>Total a pagar: </p>
                        </div>
                        <div class="col s1 left-align">
                            <p id="pagot_carrito">$176.11</p>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col offset-s1 s5">
                                <a href="confirmacion-compra.html" class="modal-trigger waves-effect waves-light btn"
                                    id="comprar_carrito">Comprar</a>
                            </div>
                            <div class="col s5">
                                <a href="#" class="modal-trigger waves-effect waves-light btn"
                                    id="seguirv_carrito">Seguir Viendo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
    <!-- Section: Popular -->
    <section id="" class="container card-section">
        <div class="row">
            <div class="animate-text">
                <h2 class="text" data-fill-text="Amigurumis">Amigurumis</h2>
            </div>
            <div class="row">
                <div class="col s12 center-align" id="banner-confirmacion">
                    <h5>Top 3 más vendidos</h5>
                </div>
            </div>
            <div class="row" id="top3">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image valign-wrapper">
                            <img class="responsive-img" src="../../resources/img/amigurumis/amigurumi1.png">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title">Brown dude</span>
                            <p>$9.99</p>
                        </div>

                    </div>
                </div>

                <div class="col s4">
                    <a href="./info-producto.html">
                        <div class="card">
                            <div class="card-image valign-wrapper">
                                <img src="../../resources/img/amigurumis/amigurumi2.png">
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title">Stich</span>
                                <p>$9.99</p>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image valign-wrapper">
                            <img src="../../resources/img/amigurumis/amigurumi3.png">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title">Pollito</span>
                            <p>$9.99</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- skewed section -->
    <section id="section-perz" class="design-section">
        <div class="design-div">
            <img src="../../resources/img/decorations/about-image.png" alt="Snow" style="width:100%;">
            <div class="about-img">
                <img src="../../resources/img/amigurumis/amigurumi-section.png" alt="">
            </div>
            <div class="about-design col">
                <div class="about-text row s8">
                    Diseña tu propio amigurumi o personalízalo, envíanos una solicitud con una imagen del personaje que
                    deseas convertir en un amigurumi y envíanos tu solicitud. Crea un regalo creativo y único!</div>

                <div class="center-align about-btn row s4">
                    <a class="waves-effect waves-light btn" id="iniciar-pedp">Vamos!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="" class="card-section container">
        <div class="row">
            <form id="search-form">
                <div class="input-field col s12 m6" id="columna-select">
                    <i class="material-icons prefix">search</i>
                    <input id="search" type="text" name="search" required class="inputs-estilizados">
                    <label for="search">Busca tu amigurumi</label>
                </div>
                <div class="input-field col s12 m6" id="columna-select">
                    <select id="categoria" name="categoria">
                    </select>
                    <label>Seleccione una categoria:</label>
                </div>
            </form>
        </div>
        <div class="row" id="cont-pro">
            <div class="col s4">
                <div class="card info-boton">
                    <div class="card-image valign-wrapper">
                        <img src="../../resources/img/amigurumis/amigurumi4.png">
                    </div>
                    <div class="card-content center-align ">
                        <span class="card-title">Brown dude</span>
                        <p>$9.99</p>
                    </div>

                </div>
            </div>

            <div class="col s4">
                <div class="card">
                    <div class="card-image valign-wrapper">
                        <img src="../../resources/img/amigurumis/amigurumi5.png">
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">Stich</span>
                        <p>$9.99</p>
                    </div>

                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image valign-wrapper">
                        <img src="../../resources/img/amigurumis/amigurumi6.png">
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">Pollito</span>
                        <p>$9.99</p>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!--Contenedor del menu para la páginación-->
    <div class="container">
        <div class="row">
            <div class="col s2 offset-s2 m2 offset-m2 l1 offset-l4 center" id="contenedor-botonnavg">
                <div class="botonnavg-footer center" id="pagnavg-atr">
                    <a class="tooltipped" data-position="left" data-tooltip="Regresar página anterior"><i
                            class="material-icons medium">chevron_left</i></a>
                </div>
            </div>
            <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                <div class="botonnavg-footer center contnpag">
                    <a><span class="pagnavg" id="pagnumeroi">1</span></a>
                </div>
            </div>
            <div class="col s2  m2 l1 center" id="contenedor-botonnavg">
                <div class="botonnavg-footer center contnpag">
                    <a><span class="pagnavg" id="pagnumerof">2</span></a>
                </div>
            </div>
            <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                <div class="botonnavg-footer center tooltipped" data-position="top" data-tooltip="¡Más muy pronto!">
                    <a><span>...</span></a>
                </div>
            </div>
            <div class="col s2 m2 l1 center" id="contenedor-botonnavg">
                <div class="botonnavg-footer center" id="pagnavg-adl">
                    <a class="tooltipped" data-position="right" data-tooltip="Página siguiente"><i
                            class="material-icons medium">chevron_right</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" id="hasta_arriba">
            <i class="large material-icons">arrow_upward</i>
        </a>
        <ul>
    </div>
    <!--Inicio del diseño del Modal de Restablecer contraseña-->
    <div id="modalrestablecer" class="modal">
        <div class="modal-content">
            <div class="center-align">
                <div class="row">
                    <div class="col offset-s4 s6 center-align hide-on-small-only" id="banner-confirmacion">
                        <h5 id="modal-title">Pedido Personalizado</h5>
                    </div>
                </div>
                <div class="col s12">Realiza tu pedido personalizado, si es aceptado Lolin se contactará contigo por tu
                    correo <b>OJO</b> el tamaño es solo un aproximado.¡Suerte!</div>
                <div class="col s12" id="decoracion-modal"></div>
                <div class="col l1 m2 s10 left-align" id="div-regresarboton">
                    <a class="modal-close" id="regresar-boton-popup">
                        < Volver a productos</a>
                </div>
            </div>
            <!--Input de previsualizar archivo-->
            <div class="row">
                <!--Input de previsualizar archivo-->
                <div class="progress hide" id="barraraprg-garch">
                    <div class="indeterminate"></div>
                </div>
                <div class="preview-file col m6 s12" id="preview-col">
                    <img src="../../resources/img/icons/previsualizar-img.png" alt="Previsualizar Imagen"
                        class="responsive-image imagen-previmg" id="imagen-Preview">
                    <span class="texto-previmg" id="texto-prevw">Previsualizador de Archivos</span>
                </div>
                <form class="col s12 m6" id="form-pedidoper">
                    <div class="row">
                        <!--Inputs para el formulario-->
                        <!--Input de la imagen-->
                        <div class="file-field input-field col s12">
                            <div class="btn red lighten-3 tooltipped" id="btn-añadirArchivoarhModal"
                                data-tooltip="Elegir imagen de al menos 500x500 px">
                                <i class="material-icons">image</i>
                                <input id="archivo" type="file" name="archivo"
                                    accept=".jpg, .png, .jpeg, .JPG, .PNG, .JPEG">
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate inputs-estilizadosarc"
                                    placeholder="Formatos válidos: jpg y png">
                            </div>
                        </div>
                        <!--Select del tamaño-->
                        <div class="input-field col s12" id="columna-select">
                            <select id="tamano" name="tamano">
                                <option disabled selected>Elije una opcion</option>
                                <option value="1">Grande:21 cm a 35cm</option>
                                <option value="2">Mediano:13 cm a 20cm</option>
                                <option value="3">Pequeño:12 cm o menos</option>
                            </select>
                            <label>Seleccione un tamaño:</label>
                        </div>
                        <!--Input de la descripción del pedido-->
                        <div class="input-field col s12">
                            <textarea placeholder="Descripción del pedido" id="desc_pedido"
                                class="inputs-estilizados2 materialize-textarea" required name="desc_pedido"></textarea>
                        </div>
                        <!--Input de la descripción del lugar de entrega-->
                        <div class="input-field col s12">
                            <textarea placeholder="Descripción del lugar de entrega" id="desc_lugar"
                                class="inputs-estilizados2 materialize-textarea" required name="desc_lugar"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col m12 ofsset-m8 s12 center-align">
                        <a class="waves-effect waves-light btn center-align" id="restablecerContraseña">Realizar
                            Pedido</a>
                        <div class="preloader-wrapper active" id="actdatoscontra_preloader-login">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="col m6 s12 left-align">
                            <h6 id="mensaje-restablecer">El PIN no es el correcto</h6>
                        </div>
                        <div class="col m6 s12 right-align">
                            <a class="modal-close waves-effect waves-light btn " id="cancelarPIN">Cancelar</a>
                        </div>
                    </div>
                </div>
                <div class="col s12" id="decoracionr-modal"></div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row" id="redes-footer">
                <div class="col center-align l1 offset-l5 m1 offset-m5 s2 offset-s4" id="facebook-container">
                    <div class="center-align z-depth-4" id="facebook">
                        <a class="tooltip" href="https://www.instagram.com/lolin.sv/" target="_blank">
                            <img class="responsive-img " src="../../resources/img/icons/facebook.png">
                            <span class="tooltip-box">¡Siguenos! en Facebook</span>
                        </a>
                    </div>
                </div>
                <div class="col l1 m1 s2" id="whatsapp-container">
                    <div class="center-align z-depth-4" id="whatsapp">
                        <a href="https://api.whatsapp.com/send?phone=77085832" target="_blank">
                            <button class="tooltip" type="button" id="whatsappcopied">
                                <p class="center-align" id="copywhat">77085832</p>
                                <img class="responsive-img " src="../../resources/img/icons/whatsapp.png">
                                <span class="tooltip-box">¡Copia nuestro Whatsapp!</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col l1 m1 s2" id="instagram-container">
                    <div class="center-align z-depth-4" id="instagram">
                        <a class="tooltip" href="https://www.instagram.com/lolin.sv/">
                            <img class="responsive-img " src="../../resources/img/icons/instagram.png" target="_blank">
                            <span class="tooltip-box">¡Siguenos! en Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" id="Anexo">
                <!--Anexo-->
                <div class="col l6 m4 offset-m2 s6 right-align">
                    <a href="preguntasfrec.html" class="right-align " id="preguntasfrec">Preguntas Frecuentes</a>
                </div>
                <div class="col l6 m4 s6">
                    <a href="https://www.instagram.com/lolin.sv/" id="terminos-footer" class="left-align">Teminos y
                        condiciones</a>
                </div>
            </div>
            <div>
                <!--Derechos de autor-->
                <div class="container center-align" id="copyrigth">
                    <p id="copyri"><span>&copy 2022 Lolin</span></p>
                </div>
            </div>
        </div>
    </footer>
    <!--JavaScript al final para optimizar-->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/validaciones.js"></script>
    <script type="text/javascript" src="../../controllers/public/online.js"></script>
    <script type="text/javascript" src="../../controllers/public/carrito.js"></script>
    <script type="text/javascript" src="../../controllers/public/productos.js"></script>

</body>

</html>